[flake8]
# E501 line too long
# E722 do not use bare 'except'
# F401 imported but unused
# W503 line break before binary operator
ignore = E501,E722,F401,W503
per-file-ignores =
    # redefinition of unused 'dpnp_random_impl'
    dpnp_randomimpl.py: F811
    # module level import not at top of file
    device_init.py: E402
    # 'from . import *' used; unable to detect undefined names
    __init__.py: F403
    # module level import not at top of file
    target.py: E402
    # config should containe code lines examples in comment
    docs/source/conf.py: E800
exclude =
    .git,
    __pycache__,
    _version.py,
    versioneer.py,
    lowerer.py,
    parfor.py
