*.pyc
*.o
*.so
*.dylib
*.pyd
*.pdb
*.egg-info
*.sw[po]
*.out
*.ll
.nfs*
tags
MANIFEST

.tmp/
build/
docs/_build/
docs/gh-pages/
dist/
.idea/
.vscode/
.mypy_cache/
.ipynb_checkpoints/
__pycache__/
_skbuild

docs/source/developer/autogen*

# Ignore generated cpp files
numba_dpex/dpnp_iface/*.cpp
numba_dpex/dpnp_iface/*.h

# Ignore coverage results
.coverage
coverage.xml
htmlcov/
