name: Conda package

on:
  push:
    branches:
    tags:

env:
  PACKAGE_NAME: numba-dppy
  MODULE_NAME: numba_dppy

jobs:
  build_linux:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python: ["3.8", "3.9"]
        integration_channels: [""]
        experimental: [false]
        artifact_name: [""]
        include:
          - python: "3.8"
            integration_channels: -c dppy/label/dev
            artifact_name: -c dppy_label_dev
            experimental: false
    continue-on-error: ${{ matrix.experimental }}
    env:
      CHANNELS: ${{ matrix.integration_channels }} -c defaults -c numba -c intel -c numba/label/dev -c dppy/label/dev --override-channels

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set pkgs_dirs
        run: |
          echo "pkgs_dirs: [~/.conda/pkgs]" >> ~/.condarc
      - name: Cache conda packages
        uses: actions/cache@v2
        env:
          CACHE_NUMBER: 0  # Increase to reset cache
        with:
          path: ~/.conda/pkgs
          key:
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-python-${{ matrix.python }}-${{hashFiles('**/meta.yaml') }}
          restore-keys: |
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-python-${{ matrix.python }}-
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-
      - name: Install cpu driver
        run: sudo apt-get install intel-opencl-icd
      - name: Activate cpu driver
        run: echo "libintelocl.so" | sudo tee /etc/OpenCL/vendors/intel-cpu.icd
      - name: Add conda to system path
        run: echo $CONDA/bin >> $GITHUB_PATH
      - name: Install conda-build
        run: conda install conda-build
      - name: Build conda package
        run: |
          VERSIONS="--python ${{ matrix.python }}"
          TEST="--no-test"
          conda build \
            $TEST \
            $VERSIONS \
            $CHANNELS \
            conda-recipe
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.PACKAGE_NAME }} ${{ runner.os }} Python ${{ matrix.python }} ${{ matrix.artifact_name }}
          path: /usr/share/miniconda/conda-bld/linux-64/${{ env.PACKAGE_NAME }}-*.tar.bz2

  build_windows:
    runs-on: windows-latest

    strategy:
      matrix:
        python: ["3.8", "3.9"]
        integration_channels: [""]
        experimental: [false]
        artifact_name: [""]
        include:
          - python: "3.8"
            integration_channels: -c dppy/label/dev
            artifact_name: -c dppy_label_dev
            experimental: false
    continue-on-error: ${{ matrix.experimental }}
    env:
      CHANNELS: ${{ matrix.integration_channels }} -c defaults -c numba -c intel -c numba/label/dev -c dppy/label/dev --override-channels
      conda-bld: C:\Miniconda\conda-bld\win-64\

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-activate-base: true
          activate-environment: ""

      - name: Cache conda packages
        uses: actions/cache@v2
        env:
          CACHE_NUMBER: 0  # Increase to reset cache
        with:
          path: /home/runner/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-python-${{ matrix.python }}-${{hashFiles('**/meta.yaml') }}
          restore-keys: |
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-python-${{ matrix.python }}-
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-
      - name: Install conda-build
        run: conda install conda-build
      - name: Build conda package
        run: conda build --no-test --python ${{ matrix.python }} ${{ env.CHANNELS }} conda-recipe
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.PACKAGE_NAME }} ${{ runner.os }} Python ${{ matrix.python }} ${{ matrix.artifact_name }}
          path: ${{ env.conda-bld }}${{ env.PACKAGE_NAME }}-*.tar.bz2

  test_linux:
    needs: build_linux
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python: ["3.8", "3.9"]
        numba: ["0.54"]
        dpctl: ["0.11.4", "0.12"]
        dpnp: ["0.9.0dev0"]
        integration_channels: [""]
        experimental: [false]
        artifact_name: [""]
        dependencies: [""]
        include:
          - python: "3.8"
            numba: "0.54"
            dpctl: "0.12"
            dpnp: "0.9.0dev0"
            integration_channels: -c dppy/label/dev
            artifact_name: -c dppy_label_dev
            experimental: false  # current stable
            dependencies: ""
          - python: "3.8"
            numba: "0.55.0dev0=*_782"
            dpctl: "0.12"
            dpnp: "0.9.0dev0"
            integration_channels:
            artifact_name: ""
            experimental: false  # current stable
            dependencies: ""
          - python: "3.9"
            numba: "0.55.0dev0=*_778"
            dpctl: "0.12"
            dpnp: "0.9.0dev0"
            integration_channels: ""
            artifact_name: ""
            experimental: false  # current stable
            dependencies: ""
    continue-on-error: ${{ matrix.experimental }}
    env:
      # conda-forge: llvm-spirv 11 not on intel channel yet
      CHANNELS: ${{ matrix.integration_channels }} -c defaults -c numba -c intel -c numba/label/dev -c dppy/label/dev -c conda-forge --override-channels

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: ${{ env.PACKAGE_NAME }} ${{ runner.os }} Python ${{ matrix.python }} ${{ matrix.artifact_name }}
      - name: Add conda to system path
        run: echo $CONDA/bin >> $GITHUB_PATH
      - name: Install conda-build
        run: conda install conda-build
      - name: Create conda channel
        run: |
          mkdir -p $GITHUB_WORKSPACE/channel/linux-64
          mv ${PACKAGE_NAME}-*.tar.bz2 $GITHUB_WORKSPACE/channel/linux-64
          conda index $GITHUB_WORKSPACE/channel
          # Test channel
          conda search $PACKAGE_NAME -c $GITHUB_WORKSPACE/channel --override-channels
      - name: Collect dependencies
        run: |
          CHANNELS="-c $GITHUB_WORKSPACE/channel ${{ env.CHANNELS }}"
          conda install $PACKAGE_NAME python=${{ matrix.python }} $CHANNELS --only-deps --dry-run > lockfile
      - name: Set pkgs_dirs
        run: |
          echo "pkgs_dirs: [~/.conda/pkgs]" >> ~/.condarc
      - name: Cache conda packages
        uses: actions/cache@v2
        env:
          CACHE_NUMBER: 0  # Increase to reset cache
        with:
          path: ~/.conda/pkgs
          key:
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-python-${{ matrix.python }}-${{hashFiles('lockfile') }}
          restore-keys: |
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-python-${{ matrix.python }}-
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-
      - name: Install numba-dppy
        run: |
          CHANNELS="-c $GITHUB_WORKSPACE/channel ${{ env.CHANNELS }}"
          conda install $PACKAGE_NAME pytest dpcpp_linux-64 python=${{ matrix.python }} numba=${{ matrix.numba }} dpctl=${{ matrix.dpctl }} dpnp=${{ matrix.dpnp }} ${{ matrix.dependencies }} $CHANNELS
          # Test installed packages
          conda list
      - name: Check DPNP
        run: |
          export OCL_ICD_FILENAMES=libintelocl.so
          python -c "import dpnp"
      - name: Run tests
        run: |
          # echo "libintelocl.so" | tee /etc/OpenCL/vendors/intel-cpu.icd
          export OCL_ICD_FILENAMES=libintelocl.so
          python -m pytest -q -ra --disable-warnings --pyargs $MODULE_NAME -vv

  test_windows:
    needs: build_windows
    runs-on: windows-latest

    strategy:
      matrix:
        python: ["3.8", "3.9"]
        integration_channels: [""]
        experimental: [true]  # packages are not available on -c intel yet
        artifact_name: [""]
        dependencies: [""]
        include:
          - python: "3.8"
            integration_channels: -c dppy/label/dev
            artifact_name: -c dppy_label_dev
            experimental: false  # current stable
            dependencies: ""
    continue-on-error: ${{ matrix.experimental }}
    env:
      # conda-forge: llvm-spirv 11 not on intel channel yet
      CHANNELS: ${{ matrix.integration_channels }} -c defaults -c numba -c intel -c numba/label/dev -c dppy/label/dev -c conda-forge --override-channels

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: ${{ env.PACKAGE_NAME }} ${{ runner.os }} Python ${{ matrix.python }} ${{ matrix.artifact_name }}
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-activate-base: true
          activate-environment: ""
      - name: Install conda-build
        run: conda install conda-build
      - name: Create conda channel
        run: |
          mkdir -p $env:GITHUB_WORKSPACE/channel/win-64
          mv ${{ env.PACKAGE_NAME }}-*.tar.bz2 $env:GITHUB_WORKSPACE/channel/win-64
          conda index $env:GITHUB_WORKSPACE/channel
          # Test channel
          conda search ${{ env.PACKAGE_NAME }} -c $env:GITHUB_WORKSPACE/channel --override-channels
      - name: Collect dependencies
        run: conda install ${{ env.PACKAGE_NAME }} python=${{ matrix.python }} -c $env:GITHUB_WORKSPACE/channel ${{ env.CHANNELS }} --only-deps --dry-run > lockfile
      - name: Cache conda packages
        uses: actions/cache@v2
        env:
          CACHE_NUMBER: 0  # Increase to reset cache
        with:
          path: /home/runner/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-python-${{ matrix.python }}-${{hashFiles('lockfile') }}
          restore-keys: |
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-python-${{ matrix.python }}-
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-
      - name: Install numba-dppy
        run: |
          conda install ${{ env.PACKAGE_NAME }} pytest dpcpp_win-64 python=${{ matrix.python }} ${{ matrix.dependencies }} -c $env:GITHUB_WORKSPACE/channel ${{ env.CHANNELS }}
          # Test installed packages
          conda list
      - name: Install opencl_rt
        run: conda install opencl_rt -c intel --override-channels
      - name: Add library
        run: echo "OCL_ICD_FILENAMES=C:\Miniconda\Library\lib\intelocl64.dll" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
      - name: Add dpnp skip variable
        run: echo "NUMBA_DPPY_TESTING_SKIP_NO_DPNP=1" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
      - name: Run tests
        run: |
          python -m pytest -q -ra --disable-warnings --pyargs ${{ env.MODULE_NAME }} -vv

  upload_linux:
    needs: test_linux
    if: ${{github.ref == 'refs/heads/main' || (startsWith(github.ref, 'refs/heads/release') == true)}}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.8", "3.9"]
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: ${{ env.PACKAGE_NAME }} ${{ runner.os }} Python ${{ matrix.python }}

      - name: Install anaconda-client
        run: conda install anaconda-client
      - name: Add conda to system path
        run: echo $CONDA/bin >> $GITHUB_PATH

      - name: Upload
        env:
          ANACONDA_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
        run: |
          conda install anaconda-client
          anaconda --token $ANACONDA_TOKEN upload --user dppy --label dev ${PACKAGE_NAME}-*.tar.bz2

  upload_windows:
    needs: test_windows
    if: ${{github.ref == 'refs/heads/main' || (startsWith(github.ref, 'refs/heads/release') == true)}}
    runs-on: windows-latest
    strategy:
      matrix:
        python: ["3.8", "3.9"]
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: ${{ env.PACKAGE_NAME }} ${{ runner.os }} Python ${{ matrix.python }}

      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-activate-base: true
          activate-environment: ""
      - name: Install anaconda-client
        run: conda install anaconda-client

      - name: Upload
        env:
          ANACONDA_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
        run: |
          conda install anaconda-client
          anaconda --token ${{ env.ANACONDA_TOKEN }} upload --user dppy --label dev ${{ env.PACKAGE_NAME }}-*.tar.bz2
