name: Conda package

on:
  push:
    branches:
      - main
      - release*
  pull_request:
    branches:
      - main
      - release*

env:
  PACKAGE_NAME: numba-dpex
  MODULE_NAME: numba_dpex

jobs:
  build_linux:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        python: ["3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup conda-build
        uses: ./.github/actions/setup-conda-build

      - name: Build conda package
        env:
          CHANNELS: -c dppy/label/dev -c intel -c defaults -c numba -c numba/label/dev --override-channels
        run: ./scripts/build_conda_package.sh ${{ matrix.python }}

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.PACKAGE_NAME }} ${{ runner.os }} Python ${{ matrix.python }}
          path: /usr/share/miniconda/conda-bld/linux-64/${{ env.PACKAGE_NAME }}-*.tar.bz2

  build_windows:
    runs-on: windows-latest

    strategy:
      matrix:
        python: ["3.8", "3.9", "3.10"]
        experimental: [false]
        artifact_name: [""]
    continue-on-error: ${{ matrix.experimental }}
    env:
      CHANNELS: -c dppy/label/dev -c intel -c defaults -c numba -c numba/label/dev --override-channels
      conda-bld: C:\Miniconda\conda-bld\win-64\

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-activate-base: true
          activate-environment: ""

      - name: Cache conda packages
        uses: actions/cache@v3
        env:
          CACHE_NUMBER: 0  # Increase to reset cache
        with:
          path: /home/runner/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-python-${{ matrix.python }}-${{hashFiles('**/meta.yaml') }}
          restore-keys: |
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-python-${{ matrix.python }}-
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-
      - name: Install conda-build
        run: conda install conda-build
      - name: Build conda package
        run: conda build --no-test --python ${{ matrix.python }} ${{ env.CHANNELS }} conda-recipe
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.PACKAGE_NAME }} ${{ runner.os }} Python ${{ matrix.python }} ${{ matrix.artifact_name }}
          path: ${{ env.conda-bld }}${{ env.PACKAGE_NAME }}-*.tar.bz2

  test_linux:
    needs: build_linux
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        python: ["3.8", "3.9", "3.10"]
        numba: ["0.57"]
        dpnp: ["0.11"]

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ env.PACKAGE_NAME }} ${{ runner.os }} Python ${{ matrix.python }}

      - uses: actions/checkout@v3
        with:
          path: numba-dpex

      - name: Setup conda-build
        uses: ./numba-dpex/.github/actions/setup-conda-build

      - name: Create conda channel
        run: |
          mkdir -p $GITHUB_WORKSPACE/channel/linux-64
          mv ${PACKAGE_NAME}-*.tar.bz2 $GITHUB_WORKSPACE/channel/linux-64
          conda index $GITHUB_WORKSPACE/channel
          # Test channel
          conda search $PACKAGE_NAME -c $GITHUB_WORKSPACE/channel --override-channels --info

      - name: Install numba-dpex
        env:
          CHANNELS: -c dppy/label/dev -c intel -c defaults -c numba -c numba/label/dev --override-channels
        run: |
          CHANNELS="-c $GITHUB_WORKSPACE/channel $CHANNELS"
          conda list
          conda create -n numba_dpex_env $PACKAGE_NAME pytest dpcpp_linux-64 python=${{ matrix.python }} numba=${{ matrix.numba }} dpctl dpnp=${{ matrix.dpnp }} dpcpp-llvm-spirv $CHANNELS
          # Test installed packages
          conda list
      - name: Check DPNP
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate numba_dpex_env
          python -c "import dpnp"
      - name: Check dpcpp-llvm-spirv
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate numba_dpex_env
          python -c "import dpcpp_llvm_spirv as p; print(p.get_llvm_spirv_path())"
      - name: Run tests
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda activate numba_dpex_env
          # echo "libintelocl.so" | tee /etc/OpenCL/vendors/intel-cpu.icd
          pytest -q -ra --disable-warnings --pyargs $MODULE_NAME -vv
      - name: Run examples
        run: |
          ls
          pwd
          cd ./numba-dpex/numba_dpex/examples/
          source $CONDA/etc/profile.d/conda.sh
          conda activate numba_dpex_env
          # echo "libintelocl.so" | tee /etc/OpenCL/vendors/intel-cpu.icd
          for script in $(find . \( -not -name "_*" -not -name "side-by-side*" -not -name "vectorize.py" -not -name "scan.py" -and -name "*.py" \))
          do
            echo "Executing ${script}"
            python ${script} || exit 1
          done

  test_windows:
    needs: build_windows
    runs-on: windows-latest

    strategy:
      matrix:
        python: ["3.8", "3.9", "3.10"]
        integration_channels: [""]
        experimental: [false]  # packages are not available on -c intel yet
    continue-on-error: ${{ matrix.experimental }}
    env:
      # conda-forge: llvm-spirv 11 not on intel channel yet
      CHANNELS: -c dppy/label/dev -c intel -c defaults -c numba -c numba/label/dev --override-channels

    steps:
      - name: Create dir for numba-dpex repo
        run: |
          mkdir -p ${{ github.workspace }}/dpex-repo
      - uses: actions/checkout@v3
        with:
          path: dpex-repo
          fetch-depth: 0
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ env.PACKAGE_NAME }} ${{ runner.os }} Python ${{ matrix.python }}
      - uses: conda-incubator/setup-miniconda@v2
        with:
          use-only-tar-bz2: true
          auto-update-conda: true
          conda-build-version: '*'
          miniconda-version: 'latest'
          activate-environment: "numba_dpex_wintest"
      - name: Create conda channel
        run: |
          mkdir -p $env:GITHUB_WORKSPACE/channel/win-64
          mv ${{ env.PACKAGE_NAME }}-*.tar.bz2 $env:GITHUB_WORKSPACE/channel/win-64
          conda index $env:GITHUB_WORKSPACE/channel
          # Test channel
          conda search ${{ env.PACKAGE_NAME }} -c $env:GITHUB_WORKSPACE/channel --override-channels
      - name: Collect dependencies
        run: conda install ${{ env.PACKAGE_NAME }} python=${{ matrix.python }} -c $env:GITHUB_WORKSPACE/channel ${{ env.CHANNELS }} --only-deps --dry-run > lockfile
      - name: Cache conda packages
        uses: actions/cache@v3
        env:
          CACHE_NUMBER: 1  # Increase to reset cache
        with:
          path: /home/runner/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-python-${{ matrix.python }}-${{hashFiles('lockfile') }}
          restore-keys: |
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-python-${{ matrix.python }}-
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-
      - name: Install numba-dpex
        run: |
          conda install ${{ env.PACKAGE_NAME }} pytest dpcpp_win-64 dpcpp-llvm-spirv python=${{ matrix.python }} dpctl -c $env:GITHUB_WORKSPACE/channel ${{ env.CHANNELS }}
          # Test installed packages
          conda list
      - name: Install opencl_rt
        run: conda install opencl_rt -c intel --override-channels

      - name: Add library
        shell: pwsh
        run: |
          $script_path="$env:CONDA_PREFIX\Scripts\set-intel-ocl-icd-registry.ps1"
          &$script_path
          # Check the variable assisting OpenCL CPU driver to find TBB DLLs which are not located where it expects them by default
          $cl_cfg="$env:CONDA_PREFIX\Library\lib\cl.cfg"
          Get-Content -Tail 5 -Path $cl_cfg

      - name: Add dpnp skip variable
        run: echo "NUMBA_DPEX_TESTING_SKIP_NO_DPNP=1" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
      - name: Smoke test
        run: python -c "import numba_dpex.core.runtime._dpexrt_python"
      - name: Smoke test for dpcpp-llvm-spirv
        run: python -c "import dpcpp_llvm_spirv as p; print(p.get_llvm_spirv_path())"
      - name: Run tests
        run: |
          pytest -q -ra --disable-warnings --pyargs ${{ env.MODULE_NAME }} -vv

  upload_linux:
    needs: test_linux
    if: ${{github.ref == 'refs/heads/main' || (startsWith(github.ref, 'refs/heads/release') == true)}}
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python: ["3.8", "3.9", "3.10"]
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ env.PACKAGE_NAME }} ${{ runner.os }} Python ${{ matrix.python }}

      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-activate-base: true
          activate-environment: ""
      - name: Install anaconda-client
        run: conda install anaconda-client

      - name: Upload
        env:
          ANACONDA_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
        run: |
          source /usr/share/miniconda/etc/profile.d/conda.sh
          conda activate
          anaconda --token $ANACONDA_TOKEN upload --user dppy --label dev ${PACKAGE_NAME}-*.tar.bz2

  upload_windows:
    needs: test_windows
    if: ${{github.ref == 'refs/heads/main' || (startsWith(github.ref, 'refs/heads/release') == true)}}
    runs-on: windows-latest
    strategy:
      matrix:
        python: ["3.8", "3.9", "3.10"]
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ env.PACKAGE_NAME }} ${{ runner.os }} Python ${{ matrix.python }}

      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-activate-base: true
          activate-environment: ""
      - name: Install anaconda-client
        run: conda install anaconda-client

      - name: Upload
        env:
          ANACONDA_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
        run: |
          anaconda --token ${{ env.ANACONDA_TOKEN }} upload --user dppy --label dev ${{ env.PACKAGE_NAME }}-*.tar.bz2
