name: Coverage
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'numba_dppy/**'
      - environment/coverage.yml

jobs:
  main:
    name: Generate coverage and push to Coveralls.io
    runs-on: ubuntu-20.04

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{ github.token }}

      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup numba-dppy
        uses: ./.github/actions/setup-numba-dppy
        with:
          environment: environment/coverage.yml

      - name: Test installation
        run: |
          conda list
          python -c "import numba_dppy; print(numba_dppy.__file__)"

      - name: Run tests with coverage
        run: |
          # echo "libintelocl.so" | tee /etc/OpenCL/vendors/intel-cpu.icd
          export OCL_ICD_FILENAMES=libintelocl.so
          export NUMBA_DPPY_TESTING_SKIP_NO_OPENCL_GPU=1
          export NUMBA_DPPY_TESTING_SKIP_NO_LEVEL_ZERO_GPU=1
          pytest -q -ra --disable-warnings --cov --cov-report term-missing --pyargs numba_dppy -vv

      - name: Install coveralls
        shell: bash -l {0}
        run: |
          pip install coveralls==3.2.0

      - name: Upload coverage data to coveralls.io
        run: |
          coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
          COVERALLS_PARALLEL: true

  coveralls:
    name: Indicate completion to coveralls.io
    needs: main
    runs-on: ubuntu-latest
    container: python:3-slim
    steps:
    - name: Coveralls Finished
      run: |
        pip3 install --upgrade coveralls
        coveralls --finish
      env:
        GITHUB_TOKEN: ${{ secrets.github_token }}
        COVERALLS_PARALLEL: true
