name: Coverage
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'numba_dpex/**'
      - environment/coverage.yml

jobs:
  main:
    name: Generate coverage and push to Coveralls.io
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: '3.10'
          miniforge-variant: Mambaforge
          miniforge-version: latest
          activate-environment: "coverage"
          channel-priority: "disabled"
          environment-file: environment/coverage.yml

      - name: Build numba-dpex
        run: |
          export PATH=$CONDA/bin-llvm:$PATH
          CC=icx CXX=icpx python setup.py develop

      - name: Test installation
        run: |
          conda list
          python -c "import numba_dpex; print(numba_dpex.__file__)"

      - name: Dump coverage test environment
        run: |
          conda env export > /tmp/env-cov.yml
          cat /tmp/env-cov.yml

      - name: Run tests with coverage
        run: |
          pytest -q -ra --disable-warnings --cov --cov-report term-missing --pyargs numba_dpex -vv

      - name: Install coveralls
        shell: bash -l {0}
        run: |
          pip install coveralls==3.2.0

      - name: Upload coverage data to coveralls.io
        run: |
          coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
          COVERALLS_PARALLEL: true

  coveralls:
    name: Indicate completion to coveralls.io
    needs: main
    runs-on: ubuntu-latest
    container: python:3-slim
    steps:
    - name: Coveralls Finished
      run: |
        pip3 install --upgrade coveralls
        coveralls --finish
      env:
        GITHUB_TOKEN: ${{ secrets.github_token }}
        COVERALLS_PARALLEL: true
